a{
    font-size: 40px;
}

#l1{
    font-size: 90px;
}

a:link{
    color: aqua;
}

a:visited{
    color: rgb(155, 206, 17);
}

a:hover{
    color: rgb(185, 15, 15);
}

a:active{
    color: rgb(0, 38, 255);
}

button{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    background-color: blueviolet;
}

li:nth-child(odd){
    color: blueviolet;
}

h1{
    text-shadow: 5px 10px 5px rgb(36, 77, 36), 5px 10px 5px rgb(0, 70, 128);
    
}

h1:hover{
    box-shadow: 5px, 5px, 7px, rgb(0, 0, 0);
}